version: '3.9'

services:
  api:
    build: .
    container_name: api
    ports:
      - "3333:3333"
    depends_on:
      - postgres
    env_file:
      - .env
    volumes:
      - .:/app
    command: yarn dev

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: prestos
      POSTGRES_PASSWORD: pokemon
      POSTGRES_DB: app
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
